In [7]:
import pandas 
import matplotlib.pyplot as plt
import 
import seaborn

In [3]:
path_csv = "./number of travelers.csv"
dataset_df = pandas.read_csv(path_csv, sep=",")

In [8]:
dataset_df.head()

        month  passengers
0  2000-01-01       46492
1  2000-02-01       48526
2  2000-03-01       58764
3  2000-04-01       56033
4  2000-05-01       58201

In [ ]:
plt.figure(figsize(16, 6))